body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #2B2B2B; 
    color: #333;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

#titulo-digitado::after {
    content: "|";
    animation: blink 1s infinite;
  }

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #2B2B2B;
    padding: 4rem 0; 
    margin-bottom: 2rem;
    color: #9370DB; 
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}


header nav a {
    color: #FAF9F6;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 600;
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem 0;
}

section {
    margin-bottom: 3rem;
}

/* Seção Hero */
#hero {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-text {
    flex: 1;
    color: #FAF9F6; 
}

.lista-habilidades {
    list-style: none;      
    padding-left: 0;       
    margin: 1rem 0;
}

.lista-habilidades li {
    display: flex;         
    align-items: center;   
    gap: 0.5rem;           
    font-size: 1rem;
    color: #FAF9F6;
    line-height: 1.5;
}

.hero-text h2 {
    font-size: 2.5rem;
    color: #FAF9F6; 
}

.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    width: 350px;           
    height: 350px;          
    border-radius: 50%;     
    object-fit: cover;      
    display: block;
    margin: 0 auto;
    max-width: 100%;        
    box-sizing: border-box; 
    
}

#portfolio h2, #tech-stack h2 {
    text-align: center;
    color: #FAF9F6; 
    margin-bottom: 2rem;
}

.filter-buttons {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.filter-btn {
    background-color: #2B2B2B;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;

}

.filter-btn:hover, .filter-btn.active {
    background-color: #000000; 
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: none; 
}

.project-card.show {
    display: block;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border: none;
    padding: 0;
    margin: 0;
}
.project-card-content {
    padding: 1rem;
}

.project-card h3 {
    margin-top: 0;
    color: #9370DB;
}

.project-tags {
    margin-top: 1rem;
}

.tag {
    display: inline-block;
    background-color: #eee;
    color: #333;
    padding: 0.25rem 0.5rem;
    border-radius: 15px;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}


.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.tech-card {
    background: #fff;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.tech-logo {
    height: 80px;
    margin-bottom: 1rem;
}


footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: #000000; 
    color: #eee;
    margin-top: 2rem;
}

/* Media Queries para Responsividade */

/* Para tablets */
@media (max-width: 768px) {
    #hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h2 {
        font-size: 2rem;
    }
}

/* Para celulares */
@media (max-width: 480px) {
    .container {
        width: 95%;
    }

    .filter-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}
